<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Library</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="task-form">
    <form>
        <h2>Добавление задания</h2>
        <label for="firstNamePerson">Имя исполнителя:</label>
        <input type="text" id="firstNamePerson" name="firstName"/>
        <label for="secondNamePerson">Фамилия исполнителя:</label>
        <input type="text" id="secondNamePerson" name="secondName"/>
        <label for="describe">Описание задачи:</label>
        <input type="text" id="describe" name="describeTask"/>
        <label for="date">Дата дедлайна</label>
        <input type="date" id="date" name="deadlineDate"/>
        <label for="time">Время дедлайна</label>
        <input type="time" id="time" name="deadlineTime"/>
        <hr>
        <button id="save-task">Сохранить</button>
    </form>
</div>
<div id="put-task-form">
    <form>
        <h2>Изменить задания</h2>
        <label for="firstNamePersonChange">Имя исполнителя:</label>
        <input type="text" id="firstNamePersonChange" name="firstName"/>
        <label for="secondNamePersonChange">Фамилия исполнителя:</label>
        <input type="text" id="secondNamePersonChange" name="secondName"/>
        <label for="describeChange">Описание задачи:</label>
        <input type="text" id="describeChange" name="describeTask"/>
        <label for="dateChange">Дата дедлайна</label>
        <input type="date" id="dateChange" name="deadlineDate"/>
        <label for="timeChange">Время дедлайна</label>
        <input type="time" id="timeChange" name="deadlineTime"/>
        <hr>
        <button id="changeTask">Изменить</button>
    </form>
</div>
<h1>Список заданий (<span th:text="${tasksCount}">0</span>)</h1>
<button id="show-add-task-form">Добавить задание</button>
<br><br>
<div id="task-list">
    <div class="inner-div" th:each="task : ${tasks}">
        <a th:href="@{/(id=${task.id})}" class="task-link" th:attr = "data-id=${task.id}" th:text="${task.firstName}"></a>
        <br>
        <button class ="button-delete" th:attr = "data-id=${task.id}" type="submit" name="delete task">удалить задание</button>
        <button class ="show-put-task-form" th:attr = "data-id=${task.id}" type="submit">Изменить задание</button>
    </div>
</div>
<p th:text="${someParameter}"></p>
</body>
</html>